In [39]:
import pandas as pd
import numpy as np
import sys
import time

pd.set_option('display.float_format', lambda x: '%.5f' % x)

PERIOD=21
GAP=200
POINT=0.00001
GAP=GAP*POINT

df=pd.read_csv('test.csv',header=None,index_col=None)
df.columns=['date','time','open','high','low','close','vol']
df['time']=df['date']+' '+df['time']
df['time']=df['time'].apply(lambda x:time.strptime(x,'%Y.%m.%d %H:%M'))
df['timestamp']=df['time'].apply(lambda x:time.mktime(x))
shape=df.shape
tgarr=[]
for i in range(PERIOD,shape[0]-PERIOD):
    prerow=df.iloc[i]
    price=prerow['open']
    for j in range(i+1,shape[0]):
        row=df.iloc[j]
        pretime=time.strftime("%Y-%m-%d %H:%M",prerow['time'])
        gettime=time.strftime("%Y-%m-%d %H:%M",row['time'])
        if row['high']-price-GAP>=0:
            tgarr.append([j,1,pretime,gettime])
            break
        elif row['low']-price+GAP<=0:
            tgarr.append([j,-1,pretime,gettime])
            break
    if len(tgarr)<i-PERIOD+1:
        tgarr.append([j,0,pretime,gettime])
tgdf=pd.DataFrame(tgarr)
tgdf
#tgdf.to_csv(fname+'.tg')
#tgdf.to_csv(fname+'.tg')

       0  1                 2                 3
0    366  1  2017-11-01 00:21  2017-11-01 06:06
1    168  1  2017-11-01 00:22  2017-11-01 02:48
2    366  1  2017-11-01 00:23  2017-11-01 06:06
3    367  1  2017-11-01 00:24  2017-11-01 06:07
4    367  1  2017-11-01 00:25  2017-11-01 06:07
5    169  1  2017-11-01 00:26  2017-11-01 02:49
6    165  1  2017-11-01 00:27  2017-11-01 02:45
7    150  1  2017-11-01 00:28  2017-11-01 02:30
8    147  1  2017-11-01 00:29  2017-11-01 02:27
9    150  1  2017-11-01 00:30  2017-11-01 02:30
10   152  1  2017-11-01 00:31  2017-11-01 02:32
11   164  1  2017-11-01 00:32  2017-11-01 02:44
12   155  1  2017-11-01 00:33  2017-11-01 02:35
13   164  1  2017-11-01 00:34  2017-11-01 02:44
14   164  1  2017-11-01 00:35  2017-11-01 02:44
15   164  1  2017-11-01 00:36  2017-11-01 02:44
16   152  1  2017-11-01 00:37  2017-11-01 02:32
17   155  1  2017-11-01 00:38  2017-11-01 02:35
18   152  1  2017-11-01 00:39  2017-11-01 02:32
19   165  1  2017-11-01 00:40  2017-11-01 02:45
20   168  1  2017-11-01 00:41  2017-11-01 02:48
21   164  1  2017-11-01 00:42  2017-11-01 02:44
22   164  1  2017-11-01 00:43  2017-11-01 02:44
23   164  1  2017-11-01 00:44  2017-11-01 02:44
24   168  1  2017-11-01 00:45  2017-11-01 02:48
25   168  1  2017-11-01 00:46  2017-11-01 02:48
26   169  1  2017-11-01 00:47  2017-11-01 02:49
27   167  1  2017-11-01 00:48  2017-11-01 02:47
28   164  1  2017-11-01 00:49  2017-11-01 02:44
29   168  1  2017-11-01 00:50  2017-11-01 02:48
..   ... ..               ...               ...
928  999  0  2017-11-01 15:49  2017-11-01 16:39
929  999  0  2017-11-01 15:50  2017-11-01 16:39
930  999  0  2017-11-01 15:51  2017-11-01 16:39
931  999  0  2017-11-01 15:52  2017-11-01 16:39
932  999  0  2017-11-01 15:53  2017-11-01 16:39
933  999  0  2017-11-01 15:54  2017-11-01 16:39
934  999  0  2017-11-01 15:55  2017-11-01 16:39
935  999  0  2017-11-01 15:56  2017-11-01 16:39
936  999  0  2017-11-01 15:57  2017-11-01 16:39
937  999  0  2017-11-01 15:58  2017-11-01 16:39
938  999  0  2017-11-01 15:59  2017-11-01 16:39
939  999  0  2017-11-01 16:00  2017-11-01 16:39
940  999  0  2017-11-01 16:01  2017-11-01 16:39
941  999  0  2017-11-01 16:02  2017-11-01 16:39
942  999  0  2017-11-01 16:03  2017-11-01 16:39
943  999  0  2017-11-01 16:04  2017-11-01 16:39
944  999  0  2017-11-01 16:05  2017-11-01 16:39
945  999  0  2017-11-01 16:06  2017-11-01 16:39
946  999  0  2017-11-01 16:07  2017-11-01 16:39
947  999  0  2017-11-01 16:08  2017-11-01 16:39
948  999  0  2017-11-01 16:09  2017-11-01 16:39
949  999  0  2017-11-01 16:10  2017-11-01 16:39
950  999  0  2017-11-01 16:11  2017-11-01 16:39
951  999  0  2017-11-01 16:12  2017-11-01 16:39
952  999  0  2017-11-01 16:13  2017-11-01 16:39
953  999  0  2017-11-01 16:14  2017-11-01 16:39
954  999  0  2017-11-01 16:15  2017-11-01 16:39
955  999  0  2017-11-01 16:16  2017-11-01 16:39
956  999  0  2017-11-01 16:17  2017-11-01 16:39
957  999  0  2017-11-01 16:18  2017-11-01 16:39

[958 rows x 4 columns]

In [38]:
tgdf[400:500]

       0  1                 2                 3
400  443  1  2017-11-01 07:01  2017-11-01 07:23
401  443  1  2017-11-01 07:02  2017-11-01 07:23
402  443  1  2017-11-01 07:03  2017-11-01 07:23
403  442  1  2017-11-01 07:04  2017-11-01 07:22
404  442  1  2017-11-01 07:05  2017-11-01 07:22
405  442  1  2017-11-01 07:06  2017-11-01 07:22
406  443  1  2017-11-01 07:07  2017-11-01 07:23
407  443  1  2017-11-01 07:08  2017-11-01 07:23
408  443  1  2017-11-01 07:09  2017-11-01 07:23
409  443  1  2017-11-01 07:10  2017-11-01 07:23
410  443  1  2017-11-01 07:11  2017-11-01 07:23
411  443  1  2017-11-01 07:12  2017-11-01 07:23
412  443  1  2017-11-01 07:13  2017-11-01 07:23
413  443  1  2017-11-01 07:14  2017-11-01 07:23
414  443  1  2017-11-01 07:15  2017-11-01 07:23
415  443  1  2017-11-01 07:16  2017-11-01 07:23
416  443  1  2017-11-01 07:17  2017-11-01 07:23
417  443  1  2017-11-01 07:18  2017-11-01 07:23
418  443  1  2017-11-01 07:19  2017-11-01 07:23
419  443  1  2017-11-01 07:20  2017-11-01 07:23
420  452  1  2017-11-01 07:21  2017-11-01 07:32
421  452  1  2017-11-01 07:22  2017-11-01 07:32
422  524  1  2017-11-01 07:23  2017-11-01 08:44
423  630 -1  2017-11-01 07:24  2017-11-01 10:30
424  629 -1  2017-11-01 07:25  2017-11-01 10:29
425  630 -1  2017-11-01 07:26  2017-11-01 10:30
426  630 -1  2017-11-01 07:27  2017-11-01 10:30
427  630 -1  2017-11-01 07:28  2017-11-01 10:30
428  630 -1  2017-11-01 07:29  2017-11-01 10:30
429  630 -1  2017-11-01 07:30  2017-11-01 10:30
..   ... ..               ...               ...
470  841  1  2017-11-01 08:11  2017-11-01 14:01
471  841  1  2017-11-01 08:12  2017-11-01 14:01
472  630 -1  2017-11-01 08:13  2017-11-01 10:30
473  830 -1  2017-11-01 08:14  2017-11-01 13:50
474  630 -1  2017-11-01 08:15  2017-11-01 10:30
475  630 -1  2017-11-01 08:16  2017-11-01 10:30
476  625 -1  2017-11-01 08:17  2017-11-01 10:25
477  628 -1  2017-11-01 08:18  2017-11-01 10:28
478  625 -1  2017-11-01 08:19  2017-11-01 10:25
479  622 -1  2017-11-01 08:20  2017-11-01 10:22
480  622 -1  2017-11-01 08:21  2017-11-01 10:22
481  626 -1  2017-11-01 08:22  2017-11-01 10:26
482  621 -1  2017-11-01 08:23  2017-11-01 10:21
483  625 -1  2017-11-01 08:24  2017-11-01 10:25
484  626 -1  2017-11-01 08:25  2017-11-01 10:26
485  628 -1  2017-11-01 08:26  2017-11-01 10:28
486  628 -1  2017-11-01 08:27  2017-11-01 10:28
487  629 -1  2017-11-01 08:28  2017-11-01 10:29
488  622 -1  2017-11-01 08:29  2017-11-01 10:22
489  622 -1  2017-11-01 08:30  2017-11-01 10:22
490  625 -1  2017-11-01 08:31  2017-11-01 10:25
491  841  1  2017-11-01 08:32  2017-11-01 14:01
492  630 -1  2017-11-01 08:33  2017-11-01 10:30
493  629 -1  2017-11-01 08:34  2017-11-01 10:29
494  841  1  2017-11-01 08:35  2017-11-01 14:01
495  841  1  2017-11-01 08:36  2017-11-01 14:01
496  841  1  2017-11-01 08:37  2017-11-01 14:01
497  841  1  2017-11-01 08:38  2017-11-01 14:01
498  830 -1  2017-11-01 08:39  2017-11-01 13:50
499  629 -1  2017-11-01 08:40  2017-11-01 10:29

[100 rows x 4 columns]